#quote-container {
  height: 15vh;
  display: flex;
  min-height: 140px;
  max-height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #db651c;
}

#quote {
  color: white;
  font-size: 2em;
  margin-top: .9em;
  margin-bottom: 0;
  font-weight: lighter;
}

#author {
  color: white;
  margin-top: 0;
  font-size: 2em;
  font-weight: lighter;
}

@media only screen and (max-width: 1200px) {
  #quote-container {
    height: 17vh;
    min-height: 220px;
    max-height: 320px;
    font-size: 1.467em;
  }

  #quote {
    text-align: -webkit-center;
    margin-top: 1em;
  }

  #author {
    font-size: 1.3em;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 1058px) {
  #quote-container {
    min-height: 340px;
    max-height: 450px; 
  }
}
