
#social-media-nav {
  display: flex;
  height: 13vh;
  min-height: 100px;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.5em;
  background-color: #db651c;
}

#github-icon {
  height: 2em;
  width: 2em;
  margin-left: 2.2em;
}

#linkedin-icon {
  height: 4.5em;
  width: 4.5em;
  fill: white;
  margin-top: .1em;
}

@media only screen and (max-width: 1200px) {
  #social-media-nav {
    height: 10vh;
    min-height: 140px;
  }

  #github-icon {
    height: 3em;
    width: 3em;
  }

  #linkedin-icon {
    height: 6.2em;
    width: 6.2em;
    margin-right: 1.2em;
  }
}