body {
  font-family: 'Paloseco';
  margin: 0;
  padding: 0;
}

a:link {
    text-decoration: none;
}

#header {
  display: flex;
  height: 16vh;
  min-height: 180px;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3c3e42;
}

#name {
  color: white;
  display: flex;
  margin-top: .6em;
  font-size: 2em;
  font-weight: lighter;
  text-shadow: -1px 0 #db651c, 0 1px #db651c, 1px 0 #db651c, 0 -1px #db651c;
}

#title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1.6em;
  color: white;
  display: flex;
  font-size: 1em;
  font-family: 'Musicnet'
}

#quote-container {
  height: 12vh;
  display: flex;
  min-height: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #db651c;
}

#quote {
  color: white;
  margin-top: .4em
}

#author {
  color: white;
  margin-top: .2em
}

#about-container {
  background-color: #d8d3d2;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 100vw;
}

#about-text-container {
  min-height: 28vh;
  min-width: 60vw;
  width: 54vw;
  font-size: 1.4em;
  display: inline-block;
  background-color: #d8d3d2;
}

#about-title {
  margin: 0;
  padding: 1em;
  max-width: 25%;
  margin-left: 1.6em;
  padding-bottom: .3em;
  font-weight: lighter;
  border-bottom: 1px solid #3c3e42;
}

#about-text {
  color: #3c3e42;
  font-size: .57em;
  margin-top: 1.4em;
  margin-left: 2.8em;
  text-align: justify;
  line-height: 1.7em;
}

#photo-container {
  align-items: center;
  display: inline-block;
  justify-content: center;
  padding-right: 4em;
  padding-bottom: 4em;
}

#photo {
  max-width: 20vw;
  max-height: 32vh;
  margin-left: 8em;
  margin-top: 4em;
}

#projects-header-container {
  align-items: center;
}

#projects-header {
  justify-content: center;
  color: #db651c;
  display: flex;
  margin-top: 1.2em;
  margin-bottom: .2em;
  font-size: 3em;
  font-weight: lighter;
  text-shadow: -1px 0 #3c3e42, 0 1px #3c3e42, 1px 0 #3c3e42, 0 -1px #3c3e42;
}

#project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-list {
  margin: 1em;
  padding: 2em;
  width: 70vw;
  color: white;
  text-align: center;
  border: 1px solid #3c3e42;
  font-size: 2.5em;
  text-shadow: -1px 0 #3c3e42, 0 1px #3c3e42, 1px 0 #3c3e42, 0 -1px #3c3e42;
}

#steppr {
  background-size: 18em;
  background-image: url('./images/steppr_black.png');
}

#sockr {
  background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9878837.jpg');
  text-shadow: -1px 0 #3c3e42, 0 1px #3c3e42, 1px 0 #3c3e42, 0 -1px #3c3e42;
}

#jamspace {
  background-image: url('https://static1.squarespace.com/static/542b3786e4b0a8c50e8bbec4/t/5760b93fa3360c9fc6bc09d4/1465956688886/HendrixRental_Banner4.jpg?format=1500w');
}