body {
  font-family: 'Paloseco';
  margin: 0;
  padding: 0;
}

a:link {
    text-decoration: none;
}

svg {
  margin-right: 1.2em;
}

#header {
  display: flex;
  height: 22vh;
  min-height: 22vh;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3c3e42;
}

#name {
  color: white;
  display: flex;
  margin-top: .6em;
  font-size: 2.5em;
  text-shadow: -1px 0 #db651c, 0 1px #db651c, 1px 0 #db651c, 0 -1px #db651c;
}

#title {
  margin-top: .2em;
  padding-top: 0;
  margin-bottom: 1.6em;
  color: white;
  display: flex;
  font-size: 1em;
  font-family: 'Musicnet'
}

#quote-container {
  height: 15vh;
  display: flex;
  min-height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #db651c;
}

#quote {
  color: white;
  margin-top: .8em;
  font-weight: lighter;
}

#author {
  color: white;
  margin-top: .05em
}

#about-container {
  background-color: #d8d3d2;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 100vw;
}

#about-text-container {
  min-height: 28vh;
  min-width: 60vw;
  width: 54vw;
  font-size: 1.4em;
  display: inline-block;
  background-color: #d8d3d2;
}

#about-title {
  margin: 0;
  padding: 1em;
  max-width: 25%;
  margin-top: .2em;
  margin-left: 6em;
  padding-bottom: .3em;
  font-weight: lighter;
  border-bottom: 1px solid #3c3e42;
}

#about-text {
  color: #3c3e42;
  font-size: .60em;
  margin-top: 1.4em;
  margin-left: 8em;
  text-align: justify;
  line-height: 1.6em;
}

#photo-container {
  align-items: center;
  display: inline-block;
  justify-content: center;
  padding-right: 4em;
  padding-bottom: 4em;
}

#photo {
  max-width: 20vw;
  max-height: 32vh;
  margin-left: 8em;
  margin-top: 4em;
}

#projects-header-container {
  align-items: center;
  margin-top: 2em;
}

#projects-header {
  justify-content: center;
  color: #db651c;
  display: flex;
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: 3.5em;
}

#project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-list {
  display: flex;
  margin: 1em;
  padding: 2em;
  width: 80vw;
  align-items: center;
  justify-content: center;
  border: 1px solid #3c3e42;
}

.project-title {
  display: flex;
  height: 2em;
  width: 10em;
  color: #3c3e42;
  background-color: white;
  border: 2px solid black;
  padding: 0px 25px 0px 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}

#steppr {
  background-size: 18em;
  background-image: url('./src/steppr_black.png');
}

#sockr {
  background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9878837.jpg');
}

#jamspace {
  background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/467064/1160/772/m1/fpnw/wm1/i0435-.jpg?1430378113&s=49e6a55f98b02e938593beadf51f7a9b');
}

.projects-header-segments {
  display: flex;
  stroke: #d8d3d2;
  stroke-width: 2;
  padding-bottom: 0;
  height: 3em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-segments {
  display: flex;
  stroke: #d8d3d2;
  stroke-width: 2;
  margin-top: 1.5em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#button-top-segment {
  height: 3em;
  margin-bottom: .9em;
}

#button-bottom-segment {
  height: 3em;
  margin-top: 1em;
}

#resume-button {
  margin: 0;
  padding: 0;
  height: 3em;
  width: 12em;
  color: white;
  display: flex;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #db651c;
}

#contact-header {
  justify-content: center;
  color: #db651c;
  display: flex;
  margin-top: .3em;
  margin-bottom: .2em;
  font-size: 3em;
}

.contact-header-segments {
  display: flex;
  stroke: #d8d3d2;
  stroke-width: 2;
  padding-bottom: 0;
  height: 3em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#email-button {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0;
  height: 3.2em;
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d3d2;
}

#envelope-icon {
  color: #3c3e42;
  font-size: 30px;
  font-weight: lighter;
}

#email-address {
  color: #3c3e42;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: .5em;
}

#social-media-nav {
  display: flex;
  height: 14vh;
  min-height: 14vh;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.5em;
  background-color: #db651c;
}

#github-icon {
  height: 2em;
  width: 2em;
  margin-left: 2.2em;
}

#linkedin-icon {
  height: 4em;
  width: 4em;
  fill: white;
}

#copyright-nav {
  color: white;
  display: flex;
  height: 7vh;
  min-height: 7vh;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3c3e42;
}

#copyright-text {
  font-weight: lighter;
}
