body {
  font-family: 'Paloseco';
  margin: 0;
  padding: 0;
}

a:link {
    text-decoration: none;
}

svg {
  margin-right: 1.2em;
}

button:focus {outline:0;}
button:hover {box-shadow: 0px 0px 6px #db651c;}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  margin-right: .5em;
  cursor: pointer;
  color: white;
  &:hover {
    opacity: 1;
  }
}

#header {
  display: flex;
  height: 22vh;
  min-height: 200px;
  max-height: 200px;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3c3e42;
}

#name {
  color: white;
  display: flex;
  margin-top: .6em;
  font-size: 2.5em;
  font-weight: lighter;
  text-shadow: -1px 0 #db651c, 0 1px #db651c, 1px 0 #db651c, 0 -1px #db651c;
}

#title {
  margin-top: .2em;
  padding-top: 0;
  margin-bottom: 1.6em;
  color: white;
  display: flex;
  font-size: 1em;
  font-weight: lighter;
/*  font-family: 'Musicnet'*/
}

#quote-container {
  height: 15vh;
  display: flex;
  min-height: 140px;
  max-height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #db651c;
}

#quote {
  color: white;
  font-size: 2em;
  margin-top: .9em;
  margin-bottom: 0;
  font-weight: lighter;
}

#author {
  color: white;
  margin-top: 0
  font-size: 20em;
  font-weight: lighter;
}

#about-container {
  background-color: #d8d3d2;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100vw;
}

#about-text-container {
  min-height: 28vh;
  min-width: 60vw;
  width: 48vw;
  font-size: 1.6em;
  display: inline-block;
  background-color: #d8d3d2;
}

#about-title {
  margin: 0;
  padding: 1em;
  max-width: 25%;
  margin-top: .95em;
  margin-left: 4em;
  padding-bottom: .25em;
  font-weight: lighter;
  border-bottom: 1px solid #3c3e42;
}

#about-text {
  color: #3c3e42;
  font-size: .7em;
  margin-top: 1.4em;
  margin-left: 5.8em;
  margin-bottom: 2.6em;
  text-align: justify;
  line-height: 1.5em;
}

#photo-container {
  align-items: center;
  display: inline-block;
  justify-content: center;
  padding-right: 4em;
  padding-bottom: 4em;
}

#photo {
  max-width: 280px;
  max-height: 400px;
  margin-left: 8em;
  margin-top: 4em;
  border: 3px solid #db651c;
}

#projects-header-container {
  align-items: center;
  margin-top: 2em;
}

#projects-header {
  justify-content: center;
  color: #db651c;
  display: flex;
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: 3.5em;
}

#project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-list {
  display: flex;
  margin: 2em;
  margin-top: 1em;
  padding: 4em;
  width: 85vw;
  align-items: center;
  justify-content: center;
  border: 1px solid #3c3e42;
}

.project-title {
  display: flex;
  height: 2em;
  width: 8em;
  color: #3c3e42;
  background-color: white;
  border: 2px solid black;
  padding: 0px 25px 0px 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

#steppr {
  background-size: 18em;
  background-image: url('./src/steppr_black.png');
}

#sockr {
  background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9878837.jpg');
}

#jamspace {
  background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/467064/1160/772/m1/fpnw/wm1/i0435-.jpg?1430378113&s=49e6a55f98b02e938593beadf51f7a9b');
}

.projects-header-segments {
  display: flex;
  stroke: #d8d3d2;
  stroke-width: 2;
  padding-bottom: 0;
  height: 3em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-segments {
  display: flex;
  stroke: #d8d3d2;
  stroke-width: 2;
  margin-top: 1.5em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#button-top-segment {
  height: 3em;
  margin-bottom: .9em;
}

#button-bottom-segment {
  height: 3em;
  margin-top: 1em;
}

#resume-button {
  margin: 0;
  padding: 0;
  height: 3em;
  width: 12em;
  color: white;
  display: flex;
  font-size: 1.65em;
  text-align: center;
  align-items: center;
  font-weight: lighter;
  justify-content: center;
  background-color: #db651c;
}

#contact-header {
  justify-content: center;
  color: #db651c;
  display: flex;
  margin-top: .3em;
  margin-bottom: .2em;
  font-size: 3em;
}

.contact-header-segments {
  display: flex;
  stroke: #d8d3d2;
  stroke-width: 2;
  padding-bottom: 0;
  height: 3em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#email-button {
  margin-bottom: .6em;
  margin-top: 1em;
  padding: 0;
  height: 3.2em;
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#envelope-icon {
  color: #3c3e42;
  font-size: 3em;
  font-weight: lighter;
}

#email-address {
  color: #3c3e42;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: .5em;
}

#social-media-nav {
  display: flex;
  height: 13vh;
  min-height: 100px;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.5em;
  background-color: #db651c;
}

#github-icon {
  height: 2em;
  width: 2em;
  margin-left: 2.2em;
}

#linkedin-icon {
  height: 4.5em;
  width: 4.5em;
  fill: white;
  margin-top: .1em;
}

#copyright-nav {
  color: white;
  display: flex;
  height: 7vh;
  min-height: 80px;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3c3e42;
}

#copyright-text {
  margin: 0;
  font-weight: lighter;
}

.project-modal {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 100vw;
}

.popup-overlay {
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.popup-content {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

#jamspace-modal {
  outline: 20em solid #3c3e42;
  background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/467064/1160/772/m1/fpnw/wm1/i0435-.jpg?1430378113&s=49e6a55f98b02e938593beadf51f7a9b');
}

#steppr-modal {
  outline: 20em solid #db651c;
  background-image-size: 300px;
  background-image: url('./src/steppr_black.png');
}

#sockr-modal {
  outline: 20em solid #3c3e42;
  background-size: cover;
  background-position: 50%;
  background-image: url('./src/sockr-modal-background.jpg');
}

.project-description {
  display: flex;
  min-height: 100vh;
  margin-left: 50vw;
  padding-top: 10.2em;
  flex-direction: column;
}

#jamspace-description {
  background-color: #3c3e42;
}

#steppr-description {
  background-color: #db651c;
}

#sockr-description {
  background-color: #3c3e42;
}

.project-description-header {
  color: white;
  font-size: 2em;
  padding-bottom: 0;
  position: relative;
  margin-left: 2em;
  border-bottom: 1px solid white;
}

.project-description-text {
  margin: 4em;
  margin-top: .4em;
  margin-bottom: .4em;
  color: white;
  font-weight: lighter;
}

.project-description-icons {
  display: flex-column;
  margin-left: 2.3em;
  padding-left: 0;
  align-items: center;
}

.project-github-icons {
  color: #d8d3d2;
  height: 3.4em;
  width: 3.4em;
  margin-top: 0em;
  margin-left: .15em; 
}

.project-description-links {
  display: flex;
  margin-top: 0;
  margin-left: 1.6em;
  flex-direction: column;
}

.project-url-container {
  color: white;
  margin-left: 2.2em;
  margin-bottom: 1.4em;
  margin-top: 2em;
}

.project-url {
  color: white;
  font-size: 1.3em;
  margin-left: .35em;
  padding-bottom: 8em;
}

.youtube-icon {
  color: #d8d3d2;
  height: 2em;
  padding-right: 60em;
  margin-bottom: 1.2em;
  margin-top: .2em;
  padding-left: 0;
}

#steppr-youtube-icon {
  margin-top: 2.5em;
}

#envelope-icon:hover {text-shadow: 0px 0px .5px #db651c;}
.project-url:hover {text-shadow: 0px 0px 3px #d8d3d2;}
.youtube-icon:hover {border-image: 0px 0px 3px #d8d3d2;}
.project-github-icons:hover {text-shadow: 0px 0px 3px #d8d3d2;}


@media only screen and (max-width: 1200px) {
  #header {
    height: 30vh;
    min-height: 240px;
    max-height: 360px;
    font-size: 2.4em;
  }

  #name {
    margin-top: .8em;
    font-size: 2.7em;
  }

  #title {
    padding-top: 1.5em;
    margin-bottom: 2.4em;;
    font-size: 1.2em;
  }

  #quote-container {
    height: 17vh;
    min-height: 220px;
    max-height: 320px;
    font-size: 1.467em;
  }

  #quote {
    text-align: center;
    margin-top: 1em;
  }

  #author {
    font-size: 1.3em;
    margin-top: 1em;
  }

  #about-container {
    display: table;
    margin-bottom: 3em;
    background-color: #d8d3d2;
  }

  #about-text-container {
    justify-content: center;
    align-items: center;
    display: table-footer-group;
    min-height: 28vh;
    min-width: 60vw;
    width: 48vw;
  }

  #about-title {
    display: none;
    text-align: center;
    font-size: 2em;
  }

  #about-text {
    font-size: .8em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    text-align: left;
  }

  #photo-container {
    align-items: center;
    display: table-header-group;
    justify-content: center;
    padding-bottom: 4em;
  }

  #photo {
    max-width: 50vw;
    max-height: 50vh;
    margin-left: 20em;
    margin-top: 6em;
  }

  #project-container {
    margin-top: 1.3em;
    margin-bottom: 4em;
  }

  #projects-header {
    font-size: 5em;
  }

  .project-list {
    width: 100vw;
    height: 39vw;
    margin: 0;
  }

  .project-title {
    font-size: 5em;
    margin-left: 3.55em;
  }

  .projects-header-segments {
    display: flex;
    stroke: #d8d3d2;
    stroke-width: 2;
    padding-bottom: 0;
    height: 3em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .info-segments {
    display: flex;
    stroke: #d8d3d2;
    stroke-width: 2;
    margin-top: 1.9em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #button-top-segment {
    height: 3em;
    margin-bottom: .9em;
  }

  #button-bottom-segment {
    height: 3em;
    margin-top: 1em;
  }

  #resume-button {
    margin: .2em;
    font-size: 2.56em;
  }

  #contact-header {
    margin-top: .4em;
    font-size: 4.8em;
  }

  #email-button {
    margin-bottom: 1.12em;
    margin-top: 1.2em;
    height: 4.3em;
    width: 5.8em;
  }

  #envelope-icon {
    font-size: 4.4em;
  }

  #email-address {
    font-size: 2.5em;
    margin-top: .4em;
    margin-bottom: 1em;
  }

  #social-media-nav {
    height: 10vh;
    min-height: 140px;
  }

  #github-icon {
    height: 3em;
    width: 3em;
  }

  #linkedin-icon {
    height: 6.2em;
    width: 6.2em;
    margin-right: 1.2em;
  }

  #copyright-nav {
    font-size: 2.75em;
  }

  #copyright-text {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  #sockr-modal {
    outline: 20em solid #3c3e42;
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9878837.jpg');
  }

  .project-description {
    min-height: 50vh;
    height: 67vh;
    margin-left: 0vw;
    padding-top: 4em;
    bottom: 0;
    position: fixed;
  }

  .project-description-header {
    color: white;
    font-size: 3em;
    padding-bottom: 0;
    position: relative;
    margin-left: 2em;
    border-bottom: 1px solid white;
  }

  .project-description-text {
    margin-top: .3em;
    margin-left: 2.6em;
    margin-right: 10em;
    margin-bottom: .4em;
    font-size: 2.3em;
  }

  #sockr-description-text {
    margin-right: 3em;
  }

  .project-description-icons {
    margin-left: 4.3em;
    padding-left: 0;
    align-items: center;
  }

  .project-github-icons {
    color: #d8d3d2;
    height: 5.2em;
    width: 5.2em;
    margin-top: 1.5em;
    margin-left: .15em; 
  }

  .project-description-links {
    display: flex;
    margin-top: 0;
    margin-left: 1.6em;
    flex-direction: column;
  }

  .project-url-container {
    margin-left: 3.8em;
    margin-bottom: 1.4em;
    margin-top: 3em;
  }

  .project-url {
    font-size: 2.3em;
    margin-left: .35em;
    padding-bottom: 8em;
  }

  .youtube-icon {
    color: #d8d3d2;
    height: 3.7em;
    padding-right: 60em;
    margin-bottom: 1.2em;
    margin-top: 1.8em;
    padding-left: 0;
  }

  #steppr-youtube-icon {
    margin-top: 2.5em;
  }

  .close {
    font-size: 4.2em;
    margin-top: .4em;
    margin-right: 30vw;;
  }

  #sockr-close {
    margin-right: 1em;
  }
}


@media only screen and (max-width: 1000px) {
  #header {
    text-align: center;
  }

  #quote-container {
    min-height: 340px;
    max-height: 450px; 
  }

  #about-text {
    font-size: 1.6em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2.4em;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    text-align: center;
    min-height: 500px;
  }
  .project-list {
    min-height: 400px;
  }

  .project-title {
    font-size: 3.8em;
    margin: 0;
  }
}
