#copyright-nav {
  color: white;
  display: flex;
  height: 7vh;
  min-height: 80px;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3c3e42;
}

#copyright-text {
  margin: 0;
  font-family: 'Paloseco-Light';
}

@media only screen and (max-width: 1200px) {
  #copyright-nav {
    font-size: 2.75em;
  }

  #copyright-text {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}