
#email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#email-button {
  margin-bottom: .6em;
  margin-top: 1em;
  padding: 0;
  height: 3.2em;
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#envelope-icon {
  color: #3c3e42;
  font-size: 3em;
  font-weight: lighter;
}

#email-address {
  color: #3c3e42;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: .5em;
}

@media only screen and (max-width: 1200px) {
  #email-button {
    margin-bottom: 1.12em;
    margin-top: 1.2em;
    height: 4.3em;
    width: 5.8em;
  }

  #envelope-icon {
    font-size: 4.4em;
  }

  #email-address {
    font-size: 2.5em;
    margin-top: .4em;
    margin-bottom: 1em;
  }
}